<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="lidar">
    <xacro:inertial_cylinder mass="0.2" length="0.04" radius="0.04">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </xacro:inertial_cylinder>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.04" radius="0.04"/>
      </geometry>
      <material name="Red"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.04" radius="0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar"/>
    <origin rpy="0 0 0" xyz="-0.1 0 0.22"/>
  </joint>

  <!-- Gazebo Lidar Plugin -->
  <gazebo reference="lidar">
    <material>Gazebo/Red</material>
    <sensor type="ray" name="lidar_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <!-- <resolution>1</resolution> -->
            <min_angle>-3.1415</min_angle>
            <max_angle>3.1415</max_angle>
          </horizontal>
          <vertical>
            <samples>10</samples>
              <!-- <resolution>1</resolution> -->
            <min_angle>0</min_angle>
            <max_angle>3*PI/180.0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.05</min>
          <max>10.0</max>
          <!-- <resolution>0.01</resolution> -->
        </range>
        <!-- <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise> -->
      </ray>
      <plugin name="lidar_plugin" filename="libgazebo_ros_ray_sensor.so">
        <ros>
          <!-- <namespace>/</namespace> -->
          <!-- <remapping>~/out:=scan</remapping> -->
          <remapping>~/out:=pointcloud2</remapping>
        </ros>
        <output_type>sensor_msgs/PointCloud2</output_type>
        <min_intensity>100.0</min_intensity>
        <!-- <output_type>sensor_msgs/LaserScan</output_type> -->
        <frame_name>lidar</frame_name>
      </plugin>
    </sensor>
  </gazebo>

</robot>