<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobro">

  <!-- robot base -->
  <xacro:include filename="$(find mobro_description)/urdf/mobro_core.xacro"/>

  <!-- gazebo plugins -->
  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="$(find mobro_description)/urdf/ros2_control.xacro"/>
  </xacro:if>
  <xacro:unless value="$(arg use_ros2_control)">
    <xacro:include filename="$(find mobro_description)/urdf/gazebo_control.xacro"/>
  </xacro:unless>

  <!-- sensor plugins -->
  <!-- <xacro:include filename="$(find mobro_description)/urdf/gazebo_lidar_rgbd.xacro"/> -->
  <xacro:include filename="$(find mobro_description)/urdf/gazebo_rgb_camera.xacro"/>
  <!-- <xacro:include filename="$(find mobro_description)/urdf/gazebo_depth_camera.xacro"/> -->
  <xacro:include filename="$(find mobro_description)/urdf/gazebo_2D_lidar.xacro"/>
  <!-- <xacro:include filename="$(find mobro_description)/urdf/gazebo_3D_lidar.xacro"/> -->
</robot>